.cardWrapper {
    background-color: blanchedalmond;
    border-radius: 10px;
    width: 90%;
    height: auto;
    margin: 30px;
}

@media only screen and (min-width: 768px) {
    .cardWrapper {
        width: 600px;
    }
}